*{
    box-sizing: border-box;
    
}

main{
    display: flex;
    width: 100%;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 400px;
    padding: 2%;
    border: 5px solid green;
    border-radius: 0.65em;
    margin: 60px;
    justify-content:space-around;
    background-color:#d2cccb;
}

/* #student{
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-30%);
}

#teacher{
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-20%);
} */

.inputs{
    display: block;
    justify-content:space-around;
    margin-bottom:2px;
    border-radius:5px;
    
   
    
    
}



.container .xyz{
margin-top:10px;
background:#2390fc;
color:#fff;
border-radius:5px;
}

@media (max-width: 678px){
    main{
        flex-direction: column;
        top: 0%;
        left: 0%;
        transform: translate(-0%, -0%);
    }

    .container{
        width: 80%;
        margin-top: 80px;
        margin-bottom: 0px;
    }
}