*{
    box-sizing: border-box;
}

.cont-1{
    height: 55vh;
    width: 20vw;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.65em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2%;
    border: 3px solid #144272;
}


h4{
    margin: 0px;
}

.lab{
    display: block;
}

.inputs{
    display: block;
    width: 200px;
    height: 30px;
    border: 2px solid #144272;
    border-radius: 0.5em;
    margin: 10px 0px 10px 0px;
}

.inputs:focus{
    outline: none !important;
    border: 2px solid orangered;
}

.btn{
    display: block;
    height: 30px;
    width: 150px;
    border-radius: 1em;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border: none;
    cursor: pointer;
}

@media (max-width: 678px){
    .cont-1{
        height: 60vh;
        width: 90vw;
    }
}

@media (max-width: 1200px){
    .cont-1{
        height: 60vh;
        width: 90vw;
    }
}